.imgInicio{
    width: 100px; 
}
.into{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  background-color: #922828;
  text-decoration: underline;
  
}
.navegacion{
    background-color: black;
}

.d-block{
    height: 500px;
    
}
.logo{
    width: 150px;
    height: 150px;
}
.listaAlarma{
    text-align: justify;
}
.listaCamaras{
    text-align: justify;
}
.listaAccesos{
    text-align: justify;
}
.listaPorteros{
    text-align: justify;
}
.listaIncendios{
    text-align: justify;
}
footer{
    background-color: rgb(13, 14, 13);
}
.pie{
    color: white;
}
.pie-letra{
    color: blanchedalmond;
    text-align: center;
}
.pie-datos{
    color: rgb(36, 223, 124);
}
.navbar-brand{
    font: small-caps 200%/200% serif;
}






body {
    font-family: Arial, sans-serif;
    margin: 1;
    padding: 1;
  }
  .maincontactos{
    text-align: center;
  }
  .formcontactos {
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .formcontactos label {
    display: block;
    margin-bottom: 8px;
  }

  .formcontactos input,
  .formcontactos textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }

  .formcontactos input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }

  .formcontactos input[type="submit"]:hover {
    background-color: #45a049;
  }

  .contact-img {
    max-width: 100%;
    height: auto;
  }

  .map-container {
    margin-top: 20px;
  }

  .map-container iframe {
    width: 100%;
    height: 450px;
    border: 5;
  }
  .pcontactos{
    text-align: center;
  }




  .main-nosotros {
    padding: 20px;
  }



  .equipo-img {
    max-width: 300px;
    height: 400px;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
 




 .listaAlarma{
  
    max-width: 300px;
    max-height: 300px;
  }
  .main-alarmas {
    padding: 20px;
  }